body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.frame-container {
 
    width: 100vw;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
  
 
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    color: rgb(61, 61, 165);
    margin-bottom: 20px;

}

h3 {
    font-weight: 900;
    font-size: 2rem;
    color: rgb(61, 61, 165);
    margin-bottom: 20px;

}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px; /* set this to the border width */
    margin: 20px 0;
    background-color: #333;
}

.cell {
    font-size: 3rem;
    font-weight: 900;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
 
    transition: background-color 0.3s ease;
}

.cell-image {
    max-width: 40px; /* this will ensure the image does not exceed the cell size */
    max-height: 40px;
}



.cell:hover {
    background-color: #f7f7f7;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: rgb(221, 192, 27);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}


/* For the top-left cell */
.cell[data-index="0"] {
    border-left: none;
    border-top: none;


}

/* For the top-middle cell */
.cell[data-index="1"] {
 
    border-top: none;
}


/* For the top-right cell */
.cell[data-index="2"] {
    border-right: none;
    border-top: none;

}

/* For the left-middle cell */
.cell[data-index="3"] {
 
    border-left: none;
}


/* For the right-middle cell */
.cell[data-index="5"] {
 
    border-right: none;
}


/* For the bottom-left cell */
.cell[data-index="6"] {
    border-bottom: none;
    border-left: none;
}

/* For the bottom-middle cell */
.cell[data-index="7"] {
 
    border-bottom: none;
}
/* For the bottom-right cell */
.cell[data-index="8"] {
    border-bottom: none;
    border-right: none;
}


#gameStartOptions {
    display: flex;
    flex-direction: row;
    
    align-items: top;
    justify-content: center;
    margin-bottom: 20px;
}

#starterChoice {
    margin-right: 25px;
}


#startGameButton {
    margin: 20px;
}


#reset {
    margin: 30px;
}
/* Styles for larger screens */
@media screen and (min-width: 601px) {
    .game-container {
        max-width: 40%;
        height: 80%;
    }

    .frame-container {
        height: 100vh;
    }

   

}

/* Styles for smaller screens */
@media screen and (max-width: 600px) {
    .game-container {
        max-width: 100%; /* Full width on small screens */
    }
}


